ERES.Net/bin/
ERES.Net/obj/
Kalkulator.v11 (Kopia powodująca konflikty (użytkownik Jarek-nowy) 2013-12-03).suo
Kalkulator.v11.suo
Kalkulator.v12.suo
Kalkulator/bin/
Kalkulator/obj/
ListaEntityWPF/bin/
ListaEntityWPF/obj/
MVVM/bin/
MVVM/obj/
MVVMcalcTest/bin/
MVVMcalcTest/obj/
StudentList/bin/
StudentList/obj/
._Kalkulator.sln
._Kalkulator.v11.suo
